@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using SonOfCod.ViewModels

@model RegisterViewModel

<h2>Sign up today! for the latest news updates</h2>
<hr />
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    <div class="">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
    </div>
    <div class="">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
    </div>
    <div class="">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword)
    </div>

    <input type="submit" value="Register" />

}